<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216908853259-bfrnpstptd9pslncu5hrgcbv3mq6aoh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216908853259-bfrnpstptd9pslncu5hrgcbv3mq6aoh4</string>
	<key>API_KEY</key>
	<string>AIzaSyC8YDcMvePMqAbboqkVu1Ba2an4uVVV5hM</string>
	<key>GCM_SENDER_ID</key>
	<string>216908853259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iashchuk.HOMEPOK</string>
	<key>PROJECT_ID</key>
	<string>project-5459258749766075197</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5459258749766075197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216908853259:ios:f7f161334b6f2736</string>
	<key>DATABASE_URL</key>
	<string>https://project-5459258749766075197.firebaseio.com</string>
</dict>
</plist>